.content_box .picture_box {
   width:200px;
   height:300px;
   margin: 15px;
   float:left;
}

.content_box .description_box {
    margin: 10px;
    width:450px;
   height:350px;
}

.imgProd {
    width:200px;
    height:300px;
}

h1 {
    font-size: 15px;
}
.name_prod {
    font-size: 15px;
    margin:10px;
}

.border {
    border-bottom: 1px solid blue;
}

.content_box {
   float:left;
   width: 50%;
}

.buttonBuy {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }