<head>
        <meta charset="utf-8">
        <link href= "https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
        <link href= "/CSS/style.css" rel="stylesheet" type = "text/css">
    </head>
<div class="header">
        <div class="inner_header"> 
            <div class= "logo_container">
            <h1>My<span>OSF</span>Project</h1> 
            </div>
            <ul class="navigation">
                    <a><li> <button class ="btn btn1">Women</button> </li></a>
                    <a><li><button class ="btn btn2">Men</button></li></a>
                </ul>
    
             </div>
    </div>

    <div class = 'back_path'>
        <a href= "" class= "previous">&laquo;Previous&raquo;</a>
    </div>
    