<main>
    <div id="holder" align ="center"><h1 class="home_page">
       <div id="top">Welcome</div>
            <div id="bottom">  
                Welcome to our online store! Our team is proud to announce that we're now open for business,
                and we look forward to serving you all in the future. If you have any questions about this
                store or the products found within, please don't hesitate to contact us any time. 
                Our website has been carefully designed to provide you with an amazingly flexible online
                shopping experience, and its ease of navigation is something we think you'll grow to depend
                on and appreciate. Feel free to browse our entire product catalog, and let us know if you have 
                any questions, comments or concerns about the items housed within. Our team is always ready and willing
                to assist our customers, and we are happy for your visit.
            </div>  
    </h1> </div>
</main>